body {
  margin: 0;
  padding: 0;
    width: 100%;
  height: 600px;
   font-family: sans-serif;
}

/* Conteneur principal */
.video-background {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-color: black;

}

/* Vidéo */
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: 0;
}

/* Overlay gradient */
.overlay-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5)
  );
  z-index: 1;
}

/* Contenu au-dessus de la vidéo */
.content-up-video {
 color: white;   
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styles texte */
span {
  color: rgba(197, 83, 220, 0.858);
    font-size: 60px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  margin-bottom: 30px;
}

/* Bouton */
button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
   font-family: sans-serif;
}

button:hover {
  transform: scale(1.2);
}
.discription-section{
    color: aqua;
}

.categories {
  padding: 60px 20px;
  background: #f9f9f9;
}
.categories h2 {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
}

.card {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 20px 10px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
   font-family: sans-serif;
}

.card .icon {
  font-size: 36px;
  color: #14a800; /* vert */
  margin-bottom: 15px;
}

.card p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

/* Hover */
.card:hover {
  border-color: #14a800;
  box-shadow: 0 6px 18px rgba(20,168,0,0.15);
  transform: translateY(-4px);
}

/* Carte active (comme sur l’image) */
.card.active {
  border: 2px solid #14a800;
}
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
   font-family: sans-serif;
}
footer p {
  margin: 0;
  font-size: 14px;
}
.footer-sections{
    display: flex;
    justify-content: space-around;
    padding: 20px;


}
.footer-sections h1{
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-sections ul{
    list-style: none;
    padding: 0;
}
.footer-sections {
    font-family: sans-serif;
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  background: #000;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
   font-family: sans-serif;
}
.btn:hover {
  background: #333;
}